<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
           http://www.springframework.org/schema/context   
           http://www.springframework.org/schema/context/spring-context-2.5.xsd   
           http://www.springframework.org/schema/aop   
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
           http://www.springframework.org/schema/tx   
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 扫描spring注解 -->
	<context:component-scan base-package="com.baiyi.order" />

	<!-- 读取配置文件 -->
	<context:property-placeholder location="classpath:/init.properties" />

	<!-- dataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${datasource.driverClassName}" />
		<property name="url" value="${datasource.url}" />
		<property name="username" value="${datasource.username}" />
		<property name="password" value="${datasource.password}" />
		<property name="maxActive" value="50" />
		<property name="maxIdle" value="2" />
		<property name="maxWait" value="120000" />
		<property name="defaultAutoCommit" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="select 1 from dual" />
	</bean>

	<!-- sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 扫描配置文件实体类 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/com/baiyi/order/pojo</value>
			</list>
		</property>

		<!-- 扫描注解实体对象 version太低？
			<property name="packagesToScan" value="com.baiyi.order.pojo" />
		-->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
				<prop key="hibernate.connection.release_mode">${hibernate.connection.release_mode}</prop>
			</props>
		</property>
	</bean>

	<!--  注册hibernateTemplate  -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!--  -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_REQUIRED,timeout_20,readOnly</prop>
			</props>
		</property>
	</bean>

	<!-- dao and service -->
	<!-- 基本dao -->
	<bean id="genericDao" class="com.baiyi.order.dao.impl.GenericDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 用戶 -->
	<bean id="adminsDao" class="com.baiyi.order.dao.impl.AdminsDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="adminsService" class="com.baiyi.order.service.impl.AdminsServiceImpl">
		<property name="adminsDao" ref="adminsDao" />
	</bean>
	<!-- 素材 -->
	<bean id="materialDao" class="com.baiyi.order.dao.impl.MaterialDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="materialService" class="com.baiyi.order.service.impl.MaterialServiceImpl">
		<property name="materialDao" ref="materialDao" />
		<property name="genericDao" ref="genericDao" />
	</bean>
	<!-- 食物 -->
	<bean id="foodDao" class="com.baiyi.order.dao.impl.FoodDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="foodService" class="com.baiyi.order.service.impl.FoodServiceImpl">
		<property name="foodDao" ref="foodDao" />
		<property name="genericDao" ref="genericDao" />
		<property name="templateDao" ref="templateDao" />
		<property name="downRecordDao" ref="downRecordDao" />
	</bean>
	<!-- 跑馬燈 -->
	<bean id="marqueeDao" class="com.baiyi.order.dao.impl.MarqueeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="marqueeService" class="com.baiyi.order.service.impl.MarqueeServiceImpl">
		<property name="marqueeDao" ref="marqueeDao" />
		<property name="genericDao" ref="genericDao" />
		<property name="templateDao" ref="templateDao" />
		<property name="downRecordDao" ref="downRecordDao" />
	</bean>
	<!-- 模板 -->
	<bean id="templateDao" class="com.baiyi.order.dao.impl.TemplateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="templateService" class="com.baiyi.order.service.impl.TemplateServiceImpl">
		<property name="templateDao" ref="templateDao" />
		<property name="genericDao" ref="genericDao" />
		<property name="downRecordDao" ref="downRecordDao" />
	</bean>
	<!-- 終端 -->
	<bean id="terminalDao" class="com.baiyi.order.dao.impl.TerminalDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="terminalService" class="com.baiyi.order.service.impl.TerminalServiceImpl">
		<property name="terminalDao" ref="terminalDao" />
		<property name="genericDao" ref="genericDao" />
	</bean>
	<!-- 終端監控 -->
	<bean id="iDetectrecordsDAO" class="com.baiyi.order.dao.impl.DetectrecordsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="iDetectrecordsService" class="com.baiyi.order.service.impl.DetectrecordsService">
		<property name="iDetectrecordsDAO" ref="iDetectrecordsDAO" />
		<property name="genericDao" ref="genericDao" />
	</bean>
	<!-- 終端 -->
	<bean id="downRecordDao" class="com.baiyi.order.dao.impl.DownRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="downRecordService" class="com.baiyi.order.service.impl.DownRecordServiceImpl">
		<property name="downRecordDao" ref="downRecordDao" />
		<property name="genericDao" ref="genericDao" />
	</bean>
	<!-- 訂單 -->
	<bean id="orderDao" class="com.baiyi.order.dao.impl.OrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="orderService" class="com.baiyi.order.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao" />
		<property name="genericDao" ref="genericDao" />
	</bean>
</beans>