.food {
	position: relative;
	width: 40px;
	color: blue;
	cursor: pointer;
}

td {
	height: 40px;
}

.beginTime,.endTime {
	margin: 0 5px;;
	color: red;
	font-weight: 600;
}

.food img {
	width: 150px;
	height: 120px;
	display: none;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 99;
}

.dialog {
	background: #FFFFFF;
}

.edit {
	padding: 2px 10px;
}

.date {
	width: 18px;
	height: 16px;
	margin: 0;
}

.config,.del,.mod {
	color: blue;
	font-weight: 600;
	cursor: pointer;
	font-weight: 20px;
	font-size: 14px;
	letter-spacing: 5px;
	margin-left: 12px;
}
.mod{
	color:#551A8B;
}

.del {
	color: green;
}

#left li {
	margin-right: 8px;
	font-size: 16px;
}

div.clear {
	height: 10px;
	clear: both;
}

div.operation {
	height: 100px;
}

li label {
	margin-right: 7px;
}

li .keyword {
	width: 100px;
	height: 22px;
}

.content .dialog td {
	padding: 2px 0 0 10px;
	border: 0;
	text-align: left;
}