body {margin: 0px;}
td {font-family: "宋体";
	font-size: 12px;}
.login {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #90A2AE;
	border-right-color: #90A2AE;
	border-bottom-color: #90A2AE;
	border-left-color: #90A2AE;
}
.12p_1{
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #3E5462;
	text-decoration: none;}
.12p_1_3{
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #000000;}	
a.a12p_brue:link {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #3E5462;
	background-color: transparent;
	text-decoration: none;
}
a.a12p_brue:visited {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #3E5462;
	background-color: transparent;
	text-decoration: none;
}
a.a12p_brue:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #0080C0;
	background-color: transparent;
	text-decoration: none;
}
a.a12p_brue:active {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #0080C0;
	background-color: transparent;
	text-decoration: none;
}
a:link {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #0080C0;
	text-decoration: none;
}
a:active {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #0080C0;
	text-decoration: none;
}
.pan1_bt {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
}
.pan1_bt1 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.pan1_line{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #C5CED5;
	border-bottom-color: #C5CED5;
	border-left-color: #C5CED5;
}
.pan1_bdline{
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-left-color: #808080;
	border-top-width: 1px;
	border-top-color: #808080;
}
.pan1_can {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #3B5564;}
.pan1_can {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	color: #768E9E;}
	
	
#mytable {
    width: 700px;
    padding: 0;
    margin: 0;
}
#mytable caption {
    padding: 0 0 5px 0;
    width: 700px;     
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align:center;
}
#mytable table{
    border-left: 1px solid #C1DAD7;
}
#mytable th {
    font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align:center;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA ;
}
#mytable td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    font-size:11px;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}
#mytable td.alt {
    background: #F5FAFA;
    color: #797268;
}
#mytable tr.alt td{background:#ecf6fc;}


.listtable {
	 border-bottom: #88acd9 1px solid;
	 border-right: #88acd9 1px solid;
	 border-top: #88acd9 1px solid;
	 border-left: #88acd9 1px solid;
	 border-collapse: collapse;
	 padding: 0px 0px 0px 0px;
}
.listtable TD {
	 border-bottom: #88acd9 1px solid;
	 border-right: #88acd9 1px solid;
	 border-top: #88acd9 1px solid;
	 border-left: #88acd9 1px solid;
	 font-family: "宋体";
	 font-size: 9pt;
	 height: 22px;
	 text-align: center;
}
.listtablenoborder {
	 font-family: "宋体";
	 font-size: 9pt;
	 height: 22px;
	 text-align: center;
}


.listtable .tableHeader {
 font-weight: bold;
 font-size: 26pt;
 background: #d3e5fa;
 height: 32px;
 text-align: center;
}
.listtable .tableHeader1{
 font-weight: bold;
 font-size: 10pt;
 background: #d3e5fa;
 height: 28px;
 text-align: center;
}
.groupCs{
	 border-bottom: black 1px solid;
	 border-right: black 1px solid;
	 border-top: black 1px solid;
	 border-left: black 1px solid;
}