body {
    font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
	text-align:center;
}
a {
    color: #c75f3e;
}

#mytable {
    width: 100%;
    padding: 0;
    margin: 0;
}

caption {
    padding: 0 0 0 0;
    width: 700px;     
    font: italic 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align:center;
}
table{
    border-left: 1px solid #C1DAD7;
}
th {
    font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align:center;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA ;
  
}

td {
    border-right: 2px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    font-size:20px;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}


td.alt {
    background: #F5FAFA;
    color: #797268;
}
.bigpic
{
	position:absolute;
	float:left;
	border:#ccc 1px solid;
}
tr.alt td{background:#ecf6fc;}
/*---------for IE 5.x bug*/
html>body td{ font-size:12px;}