<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>/login/login.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml,classpath:applicationContext-Action.xml</param-value>
	</context-param>

	<!-- listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>com.baiyi.order.listener.WebListener</listener-class>
	</listener>

	<!-- ********************filter*********************** -->
	<!-- char code filter -->
	<filter>
		<filter-name>setCharacterEncodingFilter</filter-name>
		<filter-class>com.baiyi.order.filter.SetCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- user filter -->
	<filter>
		<filter-name>adminUserFilter</filter-name>
		<filter-class>com.baiyi.order.filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminUserFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<!-- struts filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<!-- servlet -->
	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>com.baiyi.order.servlet.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/servlet/UploadFileServlet</url-pattern>
	</servlet-mapping>

	<!-- sysconfig servlet -->
	<servlet>
		<servlet-name>SysconServlet</servlet-name>
		<servlet-class>com.baiyi.order.servlet.SysconServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysconServlet</servlet-name>
		<url-pattern>/servlet/SysconServlet</url-pattern>
	</servlet-mapping>

	<!-- session -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
</web-app>
